<div class="container">
<form (ngSubmit)="submit()">
  <h1 class="title-breef">Sing in</h1>

  <div class="form-control">
    <label for="email" name="email" id="email">Login</label>
    <input type="email" name="email" id="email" placeholder="example@gmail.com"  [(ngModel)]="login" />
  </div>

  <div class="form-control">
    <label for="password" name="password" id="password">Pasword</label>
    <input type="password" name="password" id="password" placeholder="***********" [(ngModel)]="password" />
  </div>

  <input type="button" value="submit" class="btn btn-block" routerLink="events">
</form>
</div>
